
/* -- container principal de header -- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    background-color: #6F4E37;
    padding: 10px 30px;
    border-bottom: 1px solid #d9c096;
    padding: 10px 40px;
    position: relative;
}

header h1{
    color: #d9c096;
    font-size: 1.9rem;
    margin: 0;
    left: 47%;  /* Faz o título ocupar o espaço do meio */
    text-align: center; 
    position: absolute;
    transform: translateX(-50%);
}

/* LOGO */
.logo img {
    max-height: 60px;
    display: block;
}

/* NAV MENU */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin-left: 25px;
}

nav a{
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease, border-bottom-color 0.3s ease;
}

nav a:hover {
    color: #3C2A21;
    border-bottom: 2px solid #d9c096;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1A120B;
    font-family: "Inconsolata", monospace;
}

/* -- Hero section -- */
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.hero .esquerda{
    color: #d9c096;
    max-width: 500px;
    text-align: left;
}

.hero .esquerda h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero .esquerda p{
    font-size: 1.2rem;
    line-height: 1.6;
}

.hero .direita img{
    width: 350px; /* Ajuste conforme necessário */
    height: auto;
    display: block;
}

main {
    color: #3C2A21;
}

.produto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    align-items: start;
}

.cafe {
    background-color: #E5E5CB;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}

/* Borda */
.cafe::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    border-radius: 12px;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
}


.cafe:hover {
    transform: translateY(-10px) scale(1.04);
    box-shadow: 0 6px 14px rgba(165, 164, 164, 0.2);

}

/* Imagem */
.cafe img {
    max-width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}
