
/* -- container principal de header -- */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

    background-color: #6F4E37;
    padding: 10px 30px;
    border-bottom: 1px solid #d9c096;
    padding: 10ppx 40px;
    position: relative;
}

header h1{
    color: #d9c096;
    font-size: 1.9rem;
    margin: 0;
    left: 47%;                  /* Faz o título ocupar o espaço do meio */
    text-align: center; 
    position: absolute;
    transform: translateX(-50%);
}

/* LOGO */
.logo img {
    max-height: 60px;
    display: block;
}

/* NAV MENU */
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin-left: 25px;
}

nav a{
    text-decoration: none;
    color: #e0e0e0;
    font-weight: bold;
    font-size: 16px;
    padding: 5px 0;
    transition: 0.3s;
}

nav a:hover {
    color: #3C2A21;
    border-bottom: 2px solid #d9c096;
}

body {
    background-color: #1A120B;
    font-family: "Inconsolata", monospace;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 0;
}

.hero .esquerda{
    color: #d9c096;
    max-width: 500px;
    text-align: left;
}

.hero .esquerda h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero .esquerda p{
    font-size: 1.2rem;
    line-height: 1.6;
}

.hero .direita img{
    width: 350px; /* Ajuste conforme necessário */
    height: auto;
    display: block;
}